In [1]:
##pip install yahoo_fin
##pip install yahoo_fin --upgrade
##pip install requests_html

In [ ]:
from yahoo_fin.stock_info import get_data

In [3]:
amazon_weekly= get_data("amzn", start_date="12/04/2009", end_date="12/04/2021", index_as_date = True, interval="1wk")
amazon_weekly

,open,high,low,close,adjclose,volume,ticker
2009-11-30,7.181000,7.295500,6.755500,6.879000,6.879000,627018000,AMZN
2009-12-07,6.900000,6.950000,6.491000,6.707500,6.707500,957260000,AMZN
2009-12-14,6.625000,6.630500,6.282500,6.424000,6.424000,915898000,AMZN
2009-12-21,6.524000,6.985000,6.509500,6.923500,6.923500,648120000,AMZN
2009-12-28,6.987500,7.129000,6.726000,6.726000,6.726000,572014000,AMZN
...,...,...,...,...,...,...,...
2021-11-01,168.089996,178.312500,164.177505,175.949493,175.949493,399674000,AMZN
2021-11-08,176.162003,180.272507,172.352493,176.257507,176.257507,327002000,AMZN
2021-11-15,176.850006,188.107498,176.257507,183.828506,183.828506,366946000,AMZN
2021-11-22,183.819000,185.673004,175.207504,175.227997,175.227997,277034000,AMZN
2021-11-29,177.382004,179.800003,166.929993,169.489502,169.489502,365688000,AMZN