In [1]:
##pip install yahoo_fin
##pip install yahoo_fin --upgrade
##pip install requests_html

In [ ]:
from yahoo_fin.stock_info import get_data

In [19]:
amzn_weekly= get_data("amzn", start_date="12/04/2000", end_date="07/04/2022", index_as_date = True, interval="1wk")
amzn_weekly

,open,high,low,close,adjclose,volume,ticker
2000-12-04,1.259375,1.381250,1.006250,1.171875,1.171875,1013370000,AMZN
2000-12-11,1.143750,1.375000,1.087500,1.143750,1.143750,804546000,AMZN
2000-12-18,1.037500,1.059375,0.743750,0.778125,0.778125,1390856000,AMZN
2000-12-25,0.815625,0.925000,0.750000,0.778125,0.778125,678338000,AMZN
2001-01-01,0.790625,0.893750,0.678125,0.728125,0.728125,866064000,AMZN
...,...,...,...,...,...,...,...
2022-05-30,116.279999,125.610001,115.675003,122.349998,122.349998,470326000,AMZN
2022-06-06,125.250000,128.990005,109.050003,109.650002,109.650002,439648100,AMZN
2022-06-13,104.190002,109.059998,101.430000,106.220001,106.220001,435976000,AMZN
2022-06-20,108.199997,116.709999,103.559998,116.459999,116.459999,265154200,AMZN
2022-06-27,117.089996,117.980003,102.519997,109.559998,109.559998,374152000,AMZN